* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg-coffee.jpg);
    font-family: "Oswald", sans-serif;
    padding: 1.5rem;
    color: #272626;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: .9rem;
    margin-top: 0;
    font-weight: 700;
}

h2 {
    font-size: 1.9rem;
    text-transform: capitalize;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

hr {
    height: 2px;
    background-color: #A52A2A;
    border-color: #A52A2A;
}

.menu {
    width: 80%;
    background-color: #DEB887;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 1.25rem;
}

.established {
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.bottom__line {
    margin-top: 1.6rem;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item p {
    margin-top: .3rem;
    margin-bottom: .3rem;
    font-size: 1.2rem;
}

.flavor, .dessert {
    text-align: left;
    text-transform: capitalize;
}

.price {
    text-align: right;
}

.footer p {
    font-size: .9rem;
    margin-top: 1rem;
}

.footer a, a:visited {
    color: #272626;
}

.footer a:hover, a:active {
    color: #A52A2A;
}

.address {
    margin-bottom: 5px;
    text-transform: capitalize;
}

@media (width <= 375px) {
    .menu {
        width: 100%;
    }
}


